<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Assignments</title>
    <head>
    <style>
    p{
        text-align: left
    }
    </style>
    <body bgcolor="#e6ffe6">
    <h1 align=center>Assignments</br>
    <ul>
    	<li><p>HW1</p></li>
    	<ul>
        	<li><p>Part A: theory work on binary, pseudocode, algorithms, and truth tables</p></li>
        	<li><p>Part B: working with functions, loops, and lists in Python</p></li>
        </ul>
    	<li><p>HW2</p></li>
    	<ul>
        	<li><p>Part A: theory work on sorts and time complexity</p></li>
        	<li><p>Part B: simulations in python</p></li>
    	</ul>
    	<li><p>HW3</p></li>
    	<ul>
        	<li><p>Part A: theory work on sets, recursion</p></li>
        	<li><p>Part B: working on recursion in python and starting the app for analyzing tumors</p></li>
    	</ul>
    	<li><p>HW4: object-oriented programming</p></li>
    	<li><p>HW5: finishing machine learning library by providing statistics, plots, and implementing k nearest neighbors</p></li>
    	<li><p>Midterm</p></li>
    	<ul>
        	<li><p>This one was my favorite!!!! I showed my whole family because I was so excited about how it turned out</p></li>
        	<li><p>writing an application to remove unwanted objects, grayscale a picture, and horizontally flip an image</p></li>
    	</ul>
    	<li><p>Final: this website made using flask and github</p></li>
    </ul>
    </body>
</html>
