<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Classes</title>
    <head>
    <style>
    table#another{
	width:100%;
	border:3px solid black;
    }
    </style>
    <body bgcolor="#f2e6ff">
    <h1 align=center>Classes</br>
    <table id="another">
    	<tr>
    		<td><h3 style="color:#00a3cc;">Spring 2020</h3>
    		<ul>
    			<li>Intro To Python</li>
    			<li>Intro to Java</li>
    			<li>Computational Linear Algebra</li>
    			<li>Educational Foundations</li>
    			<li>Physics</li>
    			<li>Art of Engineering</li>
    			<li>Modern Dance I</li>
    		</ul></td>
    		<td><h3 style="color:#00a3cc;">Fall 2020 (tentative)</h3>
    		<ul>
        		<li>Intro to Electrical Engineering</li>
        		<li>Data Structures</li>
        		<li>Discrete Mathematics</li>
        		<li>General Chemistry Lab</li>
        		<li>Latinx & Asian American Memoirs</li>
        		<li>Modern Dance II</li>
        	</ul></td>
        </tr>
        <tr>
            <td><h3 style="color:#00a3cc;">Fall 2019</h3>
            <ul>
                <li>Multivariable Calculus</li>
                <li>Physics</li>
                <li>General Chemistry</li>
                <li>University Writing</li>
                <li>Emerging Scholars Program</li>
    </table>
    </body>
</html>
