<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <style>
    table#structure{
	width:100%;
    }
    table#another{
	width:100%;
	border:3px solid black;
    }
    </style>
    <body bgcolor="#D4F7F4">    
        <h1 align=center>Ana Maria's Home Page</br>
        <table id="structure">
    	<tr>
    		<td height="220" style="width:1500" > <img align = center src = "/static/me.JPG" width="133" height="200"> </td>
    		<td height="220" style="width:200"><h4 style="color:#00a3cc; text-align:left">
    		<ul>
    			<li>Name: Ana Maria Rodriguez</li>
    			<li>Year: First Year</li>
    			<li>Intended Major: Computer Science/Engineering?</li>
    			<li>Intended Minor: Education Studies</li>
    		</ul></h4></td>
    	</tr>
        </table>
        <table id="another">
        <tr>
            <td height="80"><a href="classes" title="Classes"><p>Classes</p></a></td>
            <td><a href="assignments" title="Assignments">Assignments</a></td>
            <td><a href="https://columbiahep.com" title="Work-in-Progress">A Cool Website</a></td>
        </tr>
        </table>
    </body>
</html>
